<?xml version = "1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sery.freezesys.dao.NitMapper">
    <!--液氮罐结果集-->
    <resultMap id="nitInfo" type="com.sery.freezesys.model.Nit">
        <id column="id" property="nitId" jdbcType="INTEGER"></id>
        <result column="num" property="nitNum" jdbcType="VARCHAR"></result>
        <result column="version" property="version" jdbcType="VARCHAR"></result>
        <result column="antibody_type" property="antibodyType" jdbcType="VARCHAR"></result>
        <result column="status" property="status" jdbcType="VARCHAR"></result>
        <result column="tub_amount" property="tubAmount" jdbcType="INTEGER"></result>
        <result column="divepipe_amount" property="divepipeAmount" jdbcType="INTEGER"></result>
        <result column="straw_amount" property="strawAmount" jdbcType="INTEGER"></result>
        <result column="remark" property="remark" jdbcType="VARCHAR"></result>
    </resultMap>

    <resultMap id="tubInfo" type="com.sery.freezesys.model.Tub">
        <id column="id" property="tubId" jdbcType="INTEGER"></id>
        <result column="tub_num" property="tubNum" jdbcType="VARCHAR"></result>
        <result column="nit_id" property="nitId" jdbcType="INTEGER"></result>
    </resultMap>

    <resultMap id="divepipeInfo" type="com.sery.freezesys.model.Divepipe">
        <id column="id" property="divepipeId" jdbcType="INTEGER"></id>
        <result column="divepipe_num" property="divepipeNum" jdbcType="VARCHAR"></result>
        <result column="flag_num" property="flagNum" jdbcType="INTEGER"></result>
        <result column="tub_id" property="tubId" jdbcType="INTEGER"></result>
    </resultMap>

    <resultMap id="nitDto" type="com.sery.freezesys.model.NitDTO">
        <id column="id" property="divepipeId" jdbcType="INTEGER"></id>
        <result column="num" property="nitNum" jdbcType="VARCHAR"></result>
        <result column="tub_num" property="tubNum" jdbcType="VARCHAR"></result>
        <result column="divepipe_num" property="divepipeNum" jdbcType="VARCHAR"></result>
        <result column="flag_num" property="flagNum" jdbcType="INTEGER"></result>
    </resultMap>

    <!--查询所有的液氮罐-->
    <select id="selectAllNits" resultMap="nitInfo">
        SELECT * FROM
        tb_nit
        ORDER BY id ASC
    </select>

    <!--根据Id查询一条液氮罐记录-->
    <select id="selectNitById" parameterType="java.lang.Integer" resultMap="nitInfo">
        SELECT * FROM
        tb_nit
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <!--根据液氮罐编号查询和该液氮罐关联的所有吊桶-->
    <select id="selectAllTubsByNitId" parameterType="java.lang.Integer" resultMap="tubInfo">
        SELECT * FROM
        tb_tub
        WHERE nit_id = #{nitId,jdbcType=INTEGER}
    </select>

    <select id="selectDivepipeId" parameterType="java.util.Map" resultMap="divepipeInfo">
        SELECT d.id, d.divepipe_num, d.flag_num, d.tub_id
        FROM
        tb_divepipe d, tb_nit n, tb_tub t
        WHERE
        d.tub_id = t.id AND t.nit_id = n.id AND
        n.num = #{nitNum,jdbcType=VARCHAR} AND t.tub_num = #{tubNum,jdbcType=VARCHAR} AND d.divepipe_num = #{divepipeNum,jdbcType=VARCHAR}
    </select>

    <!--新增液氮罐-->
    <insert id="insertNit" parameterType="com.sery.freezesys.model.Nit" keyProperty="nitId" useGeneratedKeys="true">
        INSERT INTO tb_nit (num, version, antibody_type, status, tub_amount, divepipe_amount, straw_amount, remark)
        VALUES (#{nitNum,jdbcType=VARCHAR},#{version,jdbcType=VARCHAR},#{antibodyType,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},
        #{tubAmount,jdbcType=INTEGER},#{divepipeAmount,jdbcType=INTEGER},#{strawAmount,jdbcType=INTEGER},#{remark,jdbcType=VARCHAR})
    </insert>

    <!--插入一条吊桶记录-->
    <insert id="insertTub" parameterType="com.sery.freezesys.model.Tub" keyProperty="tubId" useGeneratedKeys="true">
        INSERT INTO tb_tub (tub_num, nit_id)
        VALUES (#{tubNum,jdbcType=VARCHAR},#{nitId,jdbcType=INTEGER})
    </insert>

    <!--插入一条套管记录-->
    <insert id="insertDivepipe" parameterType="com.sery.freezesys.model.Divepipe">
        INSERT INTO tb_divepipe (divepipe_num, flag_num, tub_id)
        VALUES (#{divepipeNum,jdbcType=VARCHAR},#{flagNum,jdbcType=INTEGER},#{tubId,jdbcType=INTEGER})
    </insert>

    <!--更新一条液氮罐记录-->
    <update id="updateNit" parameterType="com.sery.freezesys.model.Nit">
        UPDATE tb_nit
        <set>
            <if test="nitNum != null">
                num = #{nitNum,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=VARCHAR},
            </if>
            <if test="antibodyType != null">
                antibody_type = #{antibodyType,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="tubAmount != null">
                tub_amount = #{tubAmount,jdbcType=INTEGER},
            </if>
            <if test="divepipeAmount != null">
                divepipe_amount = #{divepipeAmount,jdbcType=INTEGER},
            </if>
            <if test="strawAmount != null">
                straw_amount = #{strawAmount,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>

        </set>
        WHERE id = #{nitId,jdbcType=INTEGER}
    </update>

    <!--根据液氮罐Id删除一条液氮罐信息-->
    <delete id="deleteNit" parameterType="java.lang.Integer">
        DELETE FROM tb_nit
        WHERE id = #{nitId,jdbcType=INTEGER}
    </delete>

    <!--根据液氮罐Id删除该液氮罐下的所有吊桶-->
    <delete id="deleteTub" parameterType="java.lang.Integer">
        DELETE FROM tb_tub
        WHERE nit_id = #{nitId,jdbcType=INTEGER}
    </delete>

    <!--根据吊桶ID删除该吊桶关联的所有套管记录-->
    <delete id="deleteDivepipe" parameterType="java.lang.Integer">
        DELETE FROM tb_divepipe
        WHERE tub_id = #{tubId,jdbcType=INTEGER}
    </delete>

    <!--当插入一条麦管记录时修改剩余数量-->
    <update id="updateFlagNum" parameterType="java.util.Map">
        UPDATE tb_divepipe
        <set>
            <if test="flagNum != null">
                flag_num = #{flagNum,jdbcType=INTEGER}
            </if>
        </set>
        WHERE id = #{divepipeId,jdbcType=INTEGER}
    </update>

    <select id="selectDivepipeById" resultMap="divepipeInfo" parameterType="java.lang.Integer">
        SELECT * FROM tb_divepipe
        WHERE id = #{divepipeId,jdbcType=INTEGER}
    </select>

    <select id="selectNumByDivepipeId" resultMap="nitDto" parameterType="java.lang.Integer">
        SELECT d.id,n.num,t.tub_num,d.divepipe_num,d.flag_num
        FROM
        tb_nit n,tb_tub t,tb_divepipe d
        WHERE
        d.tub_id = t.id AND t.nit_id = n.id AND
        d.id = #{divepipeId,jdbcType=INTEGER}
    </select>

    <select id="selectNitCount" resultType="java.lang.Integer">
        SELECT
        COUNT(tb_nit.id)
        FROM
        tb_nit
    </select>

    <select id="selectAllDivepipe" resultMap="nitDto">
        SELECT d.id,n.num,t.tub_num,d.divepipe_num,d.flag_num
        FROM
        tb_nit n,tb_tub t,tb_divepipe d
        WHERE
        d.tub_id = t.id AND t.nit_id = n.id AND n.status = '已使用'
        ORDER BY id ASC
    </select>

    <select id="selectDivepipeByFlagNum" resultMap="nitDto" parameterType="java.lang.Integer">
        SELECT d.id,n.num,t.tub_num,d.divepipe_num,d.flag_num
        FROM
        tb_nit n,tb_tub t,tb_divepipe d
        WHERE
        d.tub_id = t.id AND t.nit_id = n.id AND
        d.flag_num >= #{flagNum,jdbcType=INTEGER}
        ORDER BY flag_num ASC
    </select>

</mapper>
