<?xml version = "1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sery.freezesys.dao.StrawMapper">

    <resultMap id="strawInfo" type="com.sery.freezesys.model.StrawDTO">
        <id column="id" property="strawId" jdbcType="INTEGER"></id>
        <result column="straw_num" property="strawNum" jdbcType="VARCHAR"></result>
        <result column="freeze_num" property="freezeNum" jdbcType="VARCHAR"></result>
        <result column="barcode_num" property="barcodeNum" jdbcType="VARCHAR"></result>
        <result column="medical_record" property="medicalRecord" jdbcType="VARCHAR"></result>
        <result column="female_name" property="femaleName" jdbcType="VARCHAR"></result>
        <result column="male_name" property="maleName" jdbcType="VARCHAR"></result>
        <result column="num" property="nitNum" jdbcType="VARCHAR"></result>
        <result column="tub_num" property="tubNum" jdbcType="VARCHAR"></result>
        <result column="divepipe_num" property="divepipeNum" jdbcType="VARCHAR"></result>
        <result column="sample_type" property="sampleType" jdbcType="VARCHAR"></result>
        <result column="sample_amount" property="sampleAmount" jdbcType="INTEGER"></result>
        <result column="sample_num" property="sampleNum" jdbcType="VARCHAR"></result>
        <result column="freeze_time" property="freezeTime" jdbcType="VARCHAR"></result>
        <result column="thaw_time" property="thawTime" jdbcType="VARCHAR"></result>
        <result column="freeze_status" property="freezeStatus" jdbcType="VARCHAR"></result>
        <result column="operator" property="operator" jdbcType="VARCHAR"></result>
        <result column="remark" property="remark" jdbcType="VARCHAR"></result>
    </resultMap>

    <resultMap id="straw" type="com.sery.freezesys.model.Straw">
        <id column="id" property="strawId" jdbcType="INTEGER"></id>
        <result column="straw_num" property="strawNum" jdbcType="VARCHAR"></result>
        <result column="freeze_num" property="freezeNum" jdbcType="VARCHAR"></result>
        <result column="barcode_num" property="barcodeNum" jdbcType="VARCHAR"></result>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"></result>
        <result column="divepipe_id" property="divepipeId" jdbcType="INTEGER"></result>
        <result column="sample_type" property="sampleType" jdbcType="VARCHAR"></result>
        <result column="sample_amount" property="sampleAmount" jdbcType="INTEGER"></result>
        <result column="sample_num" property="sampleNum" jdbcType="VARCHAR"></result>
        <result column="freeze_time" property="freezeTime" jdbcType="VARCHAR"></result>
        <result column="thaw_time" property="thawTime" jdbcType="VARCHAR"></result>
        <result column="freeze_status" property="freezeStatus" jdbcType="VARCHAR"></result>
        <result column="operator" property="operator" jdbcType="VARCHAR"></result>
        <result column="remark" property="remark" jdbcType="VARCHAR"></result>
    </resultMap>

    <!--查询所有的麦管记录-->
    <select id="selectAllStraw" resultMap="strawInfo">
        SELECT
        s.id,s.straw_num,s.freeze_num,s.barcode_num,p.medical_record,p.female_name,p.male_name,n.num,t.tub_num,d.divepipe_num,
        s.sample_type,s.sample_amount,s.sample_num,s.freeze_time,s.thaw_time,s.freeze_status,s.operator,s.remark
        FROM
        tb_straw s, tb_nit n, tb_tub t, tb_divepipe d, tb_patient p
        WHERE s.patient_id = p.id
        AND s.divepipe_id = d.id
        AND n.id = t.nit_id
        AND t.id = d.tub_id
        ORDER BY id DESC
    </select>

    <insert id="insertStraw" parameterType="com.sery.freezesys.model.Straw">
        INSERT INTO tb_straw (straw_num, freeze_num, barcode_num, patient_id, divepipe_id,
        sample_type, sample_amount, sample_num, freeze_time, expire_time, freeze_status, operator, remark)
        VALUES (#{strawNum,jdbcType=VARCHAR},#{freezeNum,jdbcType=VARCHAR},#{barcodeNum,jdbcType=VARCHAR},
        #{patientId,jdbcType=VARCHAR},#{divepipeId,jdbcType=VARCHAR},#{sampleType,jdbcType=VARCHAR},
        #{sampleAmount,jdbcType=INTEGER},#{sampleNum,jdbcType=VARCHAR},#{freezeTime,jdbcType=VARCHAR},#{expireTime,jdbcType=VARCHAR},
        #{freezeStatus,jdbcType=VARCHAR},#{operator,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR})
    </insert>

    <!--更新解冻状态-->
    <update id="updataFreezeStatus" parameterType="java.util.Map">
        UPDATE tb_straw
        <set>
            <if test="freezeStatus != null">
                freeze_status = #{freezeStatus,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                operator = #{operator,jdbcType=VARCHAR}
            </if>
        </set>
        WHERE id = #{strawId,jdbcType=INTEGER}
    </update>

    <select id="getStrawById" resultMap="straw" parameterType="java.lang.Integer">
        SELECT *
        FROM tb_straw
        WHERE id = #{strawId,jdbcType=INTEGER}
    </select>

    <!--更新麦管信息-->
    <update id="updateStrawInfo" parameterType="com.sery.freezesys.model.Straw">
        UPDATE tb_straw
        <set>
            <if test="strawNum != null">
                straw_num = #{strawNum,jdbcType=VARCHAR},
            </if>
            <if test="freezeNum != null">
                freeze_num = #{freezeNum,jdbcType=VARCHAR},
            </if>
            <if test="barcodeNum != null">
                barcode_num = #{barcodeNum,jdbcType=VARCHAR},
            </if>
            <if test="patientId != null">
                patient_id = #{patientId,jdbcType=INTEGER},
            </if>
            <if test="divepipeId != null">
                divepipe_id = #{divepipeId,jdbcType=INTEGER},
            </if>
            <if test="sampleType != null">
                sample_type = #{sampleType,jdbcType=VARCHAR},
            </if>
            <if test="sampleAmount != null">
                sample_amount = #{sampleAmount,jdbcType=INTEGER},
            </if>
            <if test="freezeTime != null">
                freeze_time = #{freezeTime,jdbcType=VARCHAR},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime,jdbcType=VARCHAR},
            </if>
            <if test="freezeStatus != null">
                freeze_status = #{freezeStatus,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                operator = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR}
            </if>
        </set>
        WHERE id = #{strawId,jdbcType=INTEGER}
    </update>

    <select id="selectStrawCount" resultType="java.lang.Integer">
        SELECT
        COUNT(tb_straw.id)
        FROM
        tb_straw
    </select>

</mapper>