<?xml version = "1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sery.freezesys.dao.UserMapper">
    <!--用户结果集-->
    <resultMap id="userInfo" type="com.sery.freezesys.model.User">
        <id column="id" property="userId" jdbcType="INTEGER"></id>
        <result column="account" property="account" jdbcType="VARCHAR"></result>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"></result>
        <result column="password" property="password" jdbcType="VARCHAR"></result>
        <result column="role" property="role" jdbcType="VARCHAR"></result>
        <result column="nit_del" property="nitDel" jdbcType="VARCHAR"></result>
        <result column="straw_del" property="strawDel" jdbcType="VARCHAR"></result>
        <result column="patient_del" property="patientDel" jdbcType="VARCHAR"></result>
        <result column="remark" property="remark" jdbcType="VARCHAR"></result>
    </resultMap>

    <resultMap id="fingerprint" type="com.sery.freezesys.model.FingerPrint">
        <id column="id" property="fingerprintId" jdbcType="INTEGER"></id>
        <result column="fingerprint_temp" property="fingerprintTemp" jdbcType="VARCHAR"></result>
        <result column="user_id" property="userId" jdbcType="INTEGER"></result>
    </resultMap>

    <!--用户登录-->
    <select id="getUserByUser" parameterType="User" resultMap="userInfo">
        SELECT * FROM
        tb_user
        WHERE
        account = #{account,jdbcType=VARCHAR} AND password = #{password,jdbcType=VARCHAR}
    </select>

    <!--用户修改密码-->
    <update id="updatePassword" parameterType="java.util.Map">
        UPDATE tb_user
        <set>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR}
            </if>
        </set>
        WHERE id = #{userId,jdbcType=INTEGER}
    </update>

    <!--用户注册-->
    <insert id="insertUser" parameterType="com.sery.freezesys.model.User">
        INSERT INTO
        tb_user(account,nickname,password,role,nit_del,straw_del,patient_del,remark)
        VALUES (#{account,jdbcType=VARCHAR},#{nickname,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},#{role,jdbcType=VARCHAR},#{nitDel,jdbcType=VARCHAR},
        #{strawDel,jdbcType=VARCHAR},#{patientDel,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR})
    </insert>

    <select id="getUserByAccount" parameterType="java.lang.String" resultMap="userInfo">
        SELECT * FROM
        tb_user
        WHERE account = #{account,jdbcType=VARCHAR}
    </select>

    <select id="getUserById" resultMap="userInfo" parameterType="java.lang.Integer">
        SELECT * FROM
        tb_user
        WHERE id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="getAllUsers" resultMap="userInfo">
        SELECT * FROM
        tb_user
        WHERE role != '超级管理员'
        ORDER BY id ASC
    </select>

    <delete id="deleteUserById" parameterType="java.lang.Integer">
        DELETE FROM
        tb_user
        WHERE
        id = #{userId,jdbcType=INTEGER}
    </delete>

    <update id="updateUser" parameterType="com.sery.freezesys.model.User">
        UPDATE tb_user
        <set>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nitDel != null">
                nit_del = #{nitDel,jdbcType=VARCHAR},
            </if>
            <if test="strawDel != null">
                straw_del = #{strawDel,jdbcType=VARCHAR},
            </if>
            <if test="patientDel != null">
                patient_del = #{patientDel,jdbcType=VARCHAR}
            </if>
        </set>
        WHERE id = #{userId,jdbcType=INTEGER}
    </update>

    <!--根据解冻权限查找用户昵称-->
    <select id="getUserNickname" resultMap="userInfo">
        SELECT nickname
        FROM
        tb_user
        WHERE
        straw_del = '可操作'
    </select>

    <!--登记指纹模板-->
    <insert id="insertFingerprint" parameterType="com.sery.freezesys.model.FingerPrint">
        INSERT INTO
        tb_fingerprint(fingerprint_temp,user_id)
        VALUES
        (#{fingerprintTemp,jdbcType=VARCHAR},#{userId,jdbcType=INTEGER})
    </insert>

    <!--获取所有的指纹模板-->
    <select id="getAllFingerprint" resultMap="fingerprint">
        SELECT *
        FROM
        tb_fingerprint
    </select>

    <!--根据用户ID查找该用户的指纹信息-->
    <select id="getFingerprintByUserId" resultMap="fingerprint" parameterType="java.lang.Integer">
        SELECT *
        FROM
        tb_fingerprint
        WHERE
        user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="selectUserByKeyword" resultMap="userInfo" parameterType="java.lang.String">
        SELECT * FROM tb_user
        WHERE
        role != '超级管理员' AND
        account LIKE CONCAT('%', #{keyword}, '%')
        OR nickname LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY id ASC
    </select>

    <delete id="deleteFingerprintByUserId" parameterType="java.lang.Integer">
        DELETE FROM tb_fingerprint
        WHERE
        user_id = #{userId,jdbcType=INTEGER}
    </delete>

</mapper>