<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页--液氮罐冷冻管理系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../css/bootstrap.css"/>
	<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../css/font_eolqem241z66flxr.css" media="all" />
	<link rel="stylesheet" href="../css/main.css" media="all" />
	<link rel="stylesheet" href="../css/style.css" media="all" />
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css" media="all">
</head>
<body class="childrenBody" ng-app="mainApp" ng-controller="mainCtrl" style="overflow-x: hidden">
	<div class="panel_box row">
		<div class="panel col">
			<a href="javascript:;" data-url="page/storage/strawStorage.html">
				<div class="panel_icon" style="background-color:#F7B824;">
					<i class="layui-icon" data-icon="&#xe615;">&#xe615;</i>
				</div>
				<div class="panel_word emptyNum">
					<span>查询</span>
					<cite>可存放麦管位置</cite>
				</div>
			</a>
		</div>
		<div class="panel col max_panel">
			<a href="javascript:;" data-url="page/strawInfo/strawsList.html">
				<div class="panel_icon" style="background-color:#2F4056;">
					<i class="layui-icon" data-icon="&#xe63c;">&#xe63c;</i>
				</div>
				<div class="panel_word strawsNum">
					<span ng-bind="data.strawCount+'条'"></span>
					<cite>麦管存储记录</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="javascript:;" data-url="page/nit/nitsList.html">
				<div class="panel_icon" style="background-color:#F7B824;">
					<i class="layui-icon" data-icon="&#xe62e;">&#xe62e;</i>
				</div>
				<div class="panel_word nitsNum">
					<span ng-bind="data.nitCount+'个'"></span>
					<cite>液氮罐</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="javascript:;" data-url="page/patient/patientsList.html">
				<div class="panel_icon" style="background-color:#009688;">
					<i class="layui-icon" data-icon="&#xe613;">&#xe613;</i>
				</div>
				<div class="panel_word patientsNum">
					<span ng-bind="data.patientCount+'位'"></span>
					<cite>病人</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="javascript:;" data-url="page/strawInfo/strawsThaw.html">
				<div class="panel_icon" style="background-color:#FF5722;">
					<!--<i class="iconfont icon-loginout" data-icon="icon-loginout"></i>-->
					<i class="layui-icon" data-icon="&#x1005;">&#x1005;</i>
				</div>
				<div class="panel_word">
					<span>麦管</span>
					<cite>扫描解冻</cite>
				</div>
			</a>
		</div>
	</div>

	<br/>
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">
			<div class="layui-input-inline">
				<input type="text" style="font-size: 14px;" ng-model="flagNum" placeholder="请输入需要的麦管数" class="layui-input search_input">
			</div>
			<a class="layui-btn search_btn" ng-click="getStrawNum(flagNum)" style="text-decoration: none;">查询&nbsp;&nbsp;<i class="fa fa-search fa-1g"></i></a>
		</div>
		<!--<div class="layui-inline">
			<a class="layui-btn layui-btn-normal batchDel" style="background-color:#269f42;text-decoration: none;">自定义存储&nbsp;&nbsp;<i class="fa fa-snowflake-o"></i></a>
		</div>-->
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger reload" ng-click="reloadMainPage()" style="text-decoration: none;">刷新&nbsp;<i class="fa fa-refresh" aria-hidden="true"></i></a>
		</div>
		<div class="layui-inline">
			<div class="layui-form-mid layui-word-aux record">&nbsp;&nbsp;&nbsp;&nbsp;<span></span></div>
		</div>
	</blockquote>
	<div class="layui-form divepipe_list">
		<table class="layui-table" style="width: 50%;">
			<thead>
			<tr>
				<!--<th></th>-->
				<th>液氮罐编号</th>
				<th>吊桶编号</th>
				<th>套管编号</th>
				<th>可存放麦管数</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody class="divepipe_content">
			<tr ng-repeat="dive in diveList">
				<td ng-bind="dive.nitNum"></td>
				<td ng-bind="dive.tubNum"></td>
				<td ng-bind="dive.divepipeNum"></td>
				<td ng-bind="dive.flagNum"></td>
				<td>
					<a class="layui-btn layui-btn-mini freezeStorage" ng-click="diveStorage(dive)" style="text-decoration: none;"><i class="fa fa-snowflake-o fa-lg"></i>&nbsp;冷冻存储 </a>
				</td>
			</tr>
			<tr ng-if="tr_show"><td colspan="12" style="color: #1AA094">暂无数据哦~</td></tr>
			</tbody>
		</table>

		<ul ng-if="show" class="pagination pagination-sm pagination2 fr" style="cursor: pointer;margin-left: 10%;">
			<li ng-class="{disabled:page==1}">
				<a aria-label="Previous" ng-click="sub(page-1<1?1:page-1)" ng-disabled="page==1">
					<span aria-hidden="true">上一页</span><!--&laquo;-->
				</a>
			</li>
			<li ng-if="page >= pageNum && lastPage !== pageNum" ng-click="sub(1)" ng-class="{active:item==1}">
				<a>1</a>
			</li>
			<li ng-if="page >= pageNum && lastPage !== pageNum">
				<a>...</a>
			</li>
			<li ng-click="sub(item)" ng-class="{active:item==page}" ng-repeat="item in pages">
				<a ng-bind="item"></a>
			</li>
			<li ng-if="lastPage > pageNum && firstPage <= lastPage - pageNum">
				<a>...</a>
			</li>
			<li ng-if="lastPage > pageNum && firstPage <= lastPage - pageNum" ng-click="sub(lastPage)" ng-class="{active:item==page}">
				<a ng-bind="lastPage"></a>
			</li>
			<li ng-class="{disabled:page==lastPage}">
				<a aria-label="Next" ng-click="sub(page+1>lastPage?page:page+1)">
					<span aria-hidden="true">下一页</span><!--&raquo;-->
				</a>
			</li>
		</ul>
	</div>
	<div id="page" style="margin-left: 200px"></div>

	<script type="text/javascript" src="../js/angular.js"></script>
	<script type="text/javascript" src="../layui/layui.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>