<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>查询剩余位置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../css/bootstrap.css"/>
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../css/style.css" media="all" />
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css"/>
</head>
<body ng-app="diveApp" ng-controller="diveCtrl">
<input type="hidden" id="tubId"/>
<div class="layui-form divepipe_list">
    <table class="layui-table" style="width: auto;margin-left: 10px;">
        <thead>
        <tr>
            <th>套管编号</th>
            <th>液氮罐编号</th>
            <th>吊桶编号</th>
            <th>可存放麦管数</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody class="divepipe_content">
        <tr ng-repeat="dive in diveList">
            <td>{{dive.divepipeNum}}</td>
            <td>{{dive.nitNum}}</td>
            <td>{{dive.tubNum}}</td>
            <td>{{dive.flagNum}}</td>
            <td>
                <a class="layui-btn layui-btn-mini freezeStorage" ng-click="freezeStorage(dive)" style="text-decoration: none;"><i class="fa fa-snowflake-o fa-lg"></i>&nbsp;冷冻存储 </a>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination pagination-sm pagination2 fr" style="margin-left: 10%;">
        <li ng-class="{disabled:page==1}">
            <a href="javascript:void(0)" aria-label="Previous" ng-click="sub(page-1<1?1:page-1)" ng-disabled="page==1">
                <span aria-hidden="true">上一页</span><!--&laquo;-->
            </a>
        </li>
        <li ng-if="page >= pageNum && lastPage !== pageNum" ng-click="sub(1)" ng-class="{active:item==1}">
            <a href="javascript:void(0)">1</a>
        </li>
        <li ng-if="page >= pageNum && lastPage !== pageNum">
            <a href="javascript:void(0)">...</a>
        </li>
        <li ng-click="sub(item)" ng-class="{active:item==page}" ng-repeat="item in pages">
            <a href="javascript:void(0)">{{item}}</a>
        </li>
        <li ng-if="lastPage > pageNum && firstPage <= lastPage - pageNum">
            <a href="javascript:void(0)">...</a>
        </li>
        <li ng-if="lastPage > pageNum && firstPage <= lastPage - pageNum" ng-click="sub(lastPage)" ng-class="{active:item==page}">
            <a href="javascript:void(0)">{{lastPage}}</a>
        </li>
        <li ng-class="{disabled:page==lastPage}">
            <a href="javascript:void(0)" aria-label="Next" ng-click="sub(page+1>lastPage?page:page+1)">
                <span aria-hidden="true">下一页</span><!--&raquo;-->
            </a>
        </li>
    </ul>
</div>

<div id="is404Page" style="text-align: center; padding: 5% 0;display: none">
    <i class="layui-icon" style="line-height:20rem; font-size:20rem; color: #393D50;">&#xe61c;</i>
    <p style="font-size: 20px; font-weight: 300; color: #999;">页面被外星人劫持啦~请返回重新进入！</p>
</div>
<script type="text/javascript" src="../../js/angular.js"></script>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script>
    //创建保存页码数组的函数
    function setPage(length, amount, num, first) {
        //length数据总条数
        //amount每页数据条数
        //num保留的页码数
        //first第一页的页码
        var pages = []; //创建分页数组
        var page = Math.ceil(length / amount);
        if (page <= num) {
            for (var i = 1; i <= page; i++) {
                pages.push(i);
            }
        }
        if (page > num) {
            for (var i = first; i < first + num; i++) {
                pages.push(i);
            }
        }
        return pages;
    }

    var app = angular.module("diveApp",[]);
    app.controller("diveCtrl",["$scope","diveService",function ($scope,diveService) {
        layui.use(['layer','jquery','form'],function () {
            var layer = layui.layer,
                $ = layui.jquery,
                form = layui.form();

            //分割数组(将一个大数组分割)
            function sliceArr(page,size,arr) {
                var result = [];
                for (var i=0; i<Math.ceil(arr.length/size);i++){
                    if (i == page){//当页数和i相同时，截取该页数的内容
                        var start = i*size;
                        var end = start+size;
                        result=arr.slice(start,end);
                    }
                }
                return result;
            }
            
            //分页
            function pagination(length,data) {
                $scope.firstPage = 1;
                $scope.pageNum = 5;
                $scope.page = 1;
                var amount = length;
                var each = 11;
                $scope.sub = function (page) {
                    var list = sliceArr(page-1,each,data);
                    $scope.diveList = list;
                    $scope.lastPage = Math.ceil(amount / each);
                    if (page >= $scope.pageNum) {
                        $scope.firstPage = page - Math.floor($scope.pageNum / 2);
                    } else {
                        $scope.firstPage = 1;
                    }
                    if ($scope.firstPage > $scope.lastPage - $scope.pageNum) {
                        $scope.firstPage = $scope.lastPage - $scope.pageNum + 1;
                    }
                    $scope.pages = setPage(amount, each, $scope.pageNum, $scope.firstPage);
                    $scope.page = page;

                };
                $scope.sub(1);
            }

            //渲染数据
            var tubId = $("#tubId").val();
            if (tubId == ""){
                $(".divepipe_list").css("display","none");
                $("#is404Page").css("display","block");
            }
            diveService.loadDiveData(tubId,function (data) {
                pagination(data.length,data);
            });

            //冷冻存储
            $scope.freezeStorage = function (dive) {
                if (dive.flagNum != 0){
                    var index = layer.open({
                        title : "冷冻存储",
                        type : 2,
                        content : "freezeStorage.html",
                        success : function (layero, index) {
                            //获取子页面
                            var body = layer.getChildFrame('body',index);
                            body.find("#divepipeId").val(dive.divepipeId);
                            body.find(".nitNum").text(dive.nitNum);
                            body.find(".tubNum").text(dive.tubNum);
                            body.find(".divepipeNum").text(dive.divepipeNum);
                            body.find(".flagNum").text(dive.flagNum);
                        }
                    });

                    $(window).resize(function () {
                        layui.layer.full(index);
                    });
                    layui.layer.full(index);
                }else {
                    layer.msg("该套管已满，请重新选择位置！");
                }

            }

        })
    }]);

    app.service("diveService",["$http",function ($http) {
        this.loadDiveData = function (tubId,callback) {
            $http({
                url : '/divepipeByTubId/'+tubId,
                method : 'GET'
            }).then(function (value) {
                if (callback){
                    callback(value.data);
                }
            })
        }
    }]);

</script>
</body>
</html>