<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择液氮罐--液氮罐冷冻系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../layui/newVersion/layui.css" media="all" />
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css"/>
</head>
<body ng-app="app" ng-controller="storageCtrl">
    <blockquote class="layui-elem-quote" style="margin: 20px">
        <span style="font-size: 16px;color: #333">所有已启用的液氮罐&emsp;</span>
        <span><a class="layui-btn layui-btn-normal reload" ng-click="reloadPage()" style="background-color:#269f42">刷新&nbsp;<i class="fa fa-refresh" aria-hidden="true"></i></a></span>
    </blockquote>

    <div ng-if="tipShow" style="text-align: center; padding: 0 0;">
        <i class="fa fa-grav" style="line-height:20rem; font-size:12rem; color: #393D50;"></i>
        <p style="font-size: 20px; font-weight: 300; color: #999;">喔噢，现在还没有液氮罐记录哦~</p>
    </div>
    <div class="layui-row nit_content" style="margin: 20px">
        <div id="tub_content">
            <div ng-repeat="data in dataList" class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="margin: 0 auto;border: 1px dotted seagreen;padding: 10px;width: auto;">
                <div style="margin: 10px">
                    <i class="fa fa-hourglass-end" aria-hidden="true" style="color: #029587;">&emsp;{{data.nit.nitNum}}号液氮罐</i>
                </div>
                <a ng-repeat="tub in data.tubList" ng-click="tubClick(data.nit,tub)" class="layui-btn straws_edit" style="margin: 5px"><span>{{tub.tubNum}}</span>号吊桶</a>
            </div>
        </div>

    </div>
<script type="text/javascript" src="../../js/angular.js"></script>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script>
    var app = angular.module("app",[]);
    app.controller("storageCtrl",["$scope","storageService",function ($scope,storageService) {
        $scope.tipShow = false;
        storageService.loadTubInfo(function (data) {
            console.log(data);
            if (data.length == 0){
                $scope.tipShow = true;
            }else {
                $scope.dataList = data;
                $scope.tipShow = false;
            }

        });

        $scope.reloadPage = function () {
            window.location.reload();
        };

        layui.use(['layer','jquery'],function () {
            var layer = parent.layer === undefined ? layui.layer : parent.layer,
            $ = layui.jquery;

            //获取液氮罐下所有的信息
            $scope.tubClick = function (nit,tub) {
                console.log(tub.tubId)
                var index = layui.layer.open({
                    title : "查看"+nit.nitNum+"号液氮罐"+tub.tubNum+"号吊桶下的套管信息",
                    type : 2,
                    content : "divepipeStorage.html",
                    success : function (layero, index) {
                        //获取子页面
                        var body = layui.layer.getChildFrame('body',index);
                        body.find("#tubId").val(tub.tubId);
                    }
                });
                //改变窗口大小时，重置弹窗的高度，防止超出可视区域（如F12调出debug的操作）
                $(window).resize(function () {
                    layui.layer.full(index);
                });
                layui.layer.full(index);
            }

        })

    }]);

    app.service("storageService",["$http",function ($http) {
        this.loadTubInfo = function (callback) {
            $http({
                url : '/tubInfo',
                method : 'GET'
            }).then(function (value) {
                if (callback){
                    callback(value.data);
                }
            })
        }
    }])

</script>
</body>
</html>