.news_search{ padding:10px 10px; }
.news_search .layui-inline{ margin:5px 5px 5px 0; }
.layui-table,.layui-table th{ text-align:center; }
.news_list .layui-btn,.news_list .layui-btn+.layui-btn{ margin:2px 5px; }
.news_list .layui-form-switch{ margin-top:0; }

/*分页*/
#page{ text-align:right; }

select{
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    padding-right: 30px;
    cursor: pointer;
    border-color: #ffffff!important;
    display: block;
    width: 100%;
    padding-left: 10px;
    height: 38px;
    line-height: 38px;
    line-height: 36px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
    outline: 0;
    -webkit-transition: border-color .3s cubic-bezier(.65,.05,.35,.5);
    transition: border-color .3s cubic-bezier(.65,.05,.35,.5);
}
select:hover{
    border-color: #D2D2D2!important;
}
select option{
    color: #1AA094;
}